################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bubbles3d.client/obj/Debug
/Bubbles3D.Server/bin/Debug/net8.0
/Bubbles3D.Server/obj
